<template>
    <a href="https://gitlab.com/artsnum/code-repo" target="_blank" class="btn action-btn">Code Repo →</a>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>