header.navbar
  display flex
  align-items center
  .sidebar-button
    position static
  .home-link
    display flex
    align-items center
p.lead 
  font-weight 300
  font-size 20px

p.lead::after
  display block
  background linear-gradient(to right, #666 0%, #00b363 80%)
  height 4px
  content ""
  width 65%
  border-radius 10px
  margin-top 2rem
  margin-bottom 2.5rem

img 
  border-radius 5px

.freebirdFormviewerViewCenteredContent
    max-width 94% !important
    margin-left 4px !important

.p5embed
  margin 1rem 0
  border none 
  border-radius .3rem

.btn 
  background #f1f1f1
  border-radius .2rem
  padding .5rem .75rem
  transition all ease .3s
.btn:hover 
    background #e5e5e5
    text-decoration none !important
    cursor pointer
  
.action-btn 
  background #00b363
  color white
.action-btn:hover
  background #009854
  text-decoration none !important
  cursor pointer