header.navbar
  height 3.9rem
  padding 1rem 1.5rem
  .search-box
    input
      border-width 2px
      &:focus
        border-color $accentColor
  .nav-links
    text-transform uppercase
    .nav-item
      margin-left: 1.5rem;
  .suggestions
    li
      background white
      a
        color:black
      &.focused
        a
          color $accentColor
      &:hover
        color $accentColor
        background white
        a
          color $accentColor
          background white
